.card-container {
   overflow: auto;
   max-height: 85vh;
   padding-bottom: 40px;

   .card-title-wrap {
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      border-bottom: 1px solid rgb(192 196 204 / 74%);

      .card-title {
         width: 60%;
         text-align: left;
         height: 37px;

         .card-title-name {
            width: 90%;
            height: 100%;
            font-weight: bold;
            font-size: 20px;
            //background-color: #04befe;
            border: none;

            &:focus {
               outline: none;
            }
         }
      }

      .card-utilities {
         display: flex;

         .card-attach-item {
            font-size: 18px;
            padding: 10px;
            border-radius: 6px;
            color: #2c3e50;
            cursor: pointer;

            &:hover {
               background-color: #edeef0;
            }
         }
      }
   }

   .card-content {
      margin-top: 25px;
      text-align: left;
      padding: 0 15px;
      //background-color: #04befe;

      .content {
         display: flex;
         align-items: center;
         margin-bottom: 25px;

         .left-box {
            width: 20%;

            label {
               font-size: 14px;
               margin-left: 5px;
            }
         }

         .right-box {
            width: 80%;
            position: relative;

            .el-icon-date {
               font-size: 16px;
               padding: 8px;
               border-radius: 50%;
               cursor: pointer;
               border: 1px solid grey;

               &:hover {
                  background-color: #edeef0;
               }
            }

            .deadline-item {
               position: absolute;
               left: 1%;
               width: 30px;
               height: 30px;
               border-radius: 50%;
               border: none;
               background-color: unset;
               opacity: .1;
               cursor: pointer;
               z-index: -5;
            }

            .time-span {
               font-size: 15px;
               margin-left: 10px;
            }

            .pill-wrap {
               display: flex;
               align-items: center;

               .pill {
                  border-radius: 10px;
                  font-size: 12px;
                  height: 20px;
                  line-height: 20px;
                  padding: 0 8px;
                  color: white;
                  display: inline-block;
                  margin-right: 5px;
               }

               .el-icon-edit {
                  margin-left: 15px;
                  cursor: pointer;

                  &:hover {
                     color: #04befe;
                  }
               }
            }

            .el-textarea {
               width: 100%;
            }

         }
      }

      .content-other {
         align-items: start;
      }

      .todo-wrap {
         .todo-box {
            margin-bottom: 80px;

            .todo-parent {
               margin-bottom: 15px;

               .todo-parent-title {
                  margin-bottom: 5px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .ico-scp {
                     width: 50%;
                     display: flex;
                     align-items: center;
                     position: relative;

                     input {
                        width: 100%;
                        color: black;
                        font-size: 14px;
                        background-color: transparent;
                        border: 2px solid transparent;
                        border-bottom-color: white;


                        &:focus {
                           outline: none;
                        }

                        &::placeholder {
                           color: #606266b5;
                        }

                        &:focus ~ span {
                           transform-origin: bottom left;
                           transform: scaleX(1);
                        }
                     }

                     span {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                        background-color: #66b1ff;
                        transform-origin: bottom right;
                        transform: scaleX(0);
                        transition: transform 1s ease;
                     }
                  }
                  .todo-parent-action {
                     font-size: 14px;
                     margin-right: 18px;

                     &:hover {
                        color: #409eff;
                        cursor: pointer;
                     }
                  }
               }
            }

            .todo-children {
               display: flex;
               flex-direction: column;

               .todo-children-checkbox {
                  margin-right: 0;
                  padding: 5px;

                  &:hover {
                     background-color: #80808024;
                  }

                  &::v-deep .el-checkbox__label {
                     width: 95%;

                     .checkbox-action {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .checkbox-action-icon {
                           //opacity: .5;

                           i {
                              //display: none;
                              margin: 0 5px;
                              color: gray;

                              &:hover {
                                 color: #4d84e2;
                              }
                           }
                        }
                     }
                  }

               }

               .el-checkbox::v-deep .el-checkbox__input .el-checkbox__inner {
                  border-radius: 50%;
               }

               .list-btn-new-children {
                  position: relative;
                  width: 100%;

                  .new-children {
                     position: absolute;
                     display: flex;
                     align-items: center;
                     margin-top: 10px;
                     width: 100%;
                     //opacity: 0;

                     .btn-oop {
                        display: flex;
                        margin-right: 10px;
                     }

                     .el-button-group .el-button--primary:last-child {
                        border-left-color: #b3d8ff;
                     }

                     .new-name-children {
                        width: 100%;
                        -webkit-appearance: none;
                        background-color: #FFF;
                        background-image: none;
                        border-radius: 4px;
                        border: 1px solid #DCDFE6;
                        box-sizing: border-box;
                        color: #606266;
                        display: inline-block;
                        height: 28px;
                        line-height: 28px;
                        outline: 0;
                        font-size: 14px;
                        padding: 0 15px;
                        transition: border-color .2s cubic-bezier(.645, .045, .355, 1);

                        &::placeholder {
                           font-size: 14px;
                           color: #606266c1;
                        }

                        &:focus {
                           border-color: #409EFF;
                           outline: 0;
                        }
                     }
                  }
               }
            }
         }

         .upload-demo {
            //margin-top: 50px;
         }
      }
   }
}

.box-scp {
   position: relative;

   input {
      width: 100%;
      color: black;
      font-size: 14px;
      background-color: transparent;
      border: 2px solid transparent;
      border-bottom-color: hsla(185, 100%, 62%, 0.2);


      &:focus {
         outline: none;
      }

      &::placeholder {
         color: #606266b5;
      }

      &:focus ~ span {
         transform-origin: bottom left;
         transform: scaleX(1);
      }
   }

   span {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #66b1ff;
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 1s ease;
   }
}

.scp-001 {
   margin-top: 10px;
   float: right;
}
