.workflow-wrap {
   overflow: auto;
   position: relative;
   height: 94vh;
   display: flex;

   .list-group {
      margin-top: 20px;
      padding: 0;

      .draggable-transition {
         display: flex;

         .list-group-item {
            .section {
               width: 280px;
               margin: 0 10px;

               .section-box-header {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-bottom: 15px;

                  .section-title {
                     font-weight: bold;
                     text-align: left;
                     cursor: pointer;
                     width: 75%;
                  }

                  .section-action {
                     display: flex;
                     align-items: center;
                     justify-content: space-between;

                     .section-action-box {
                        margin: 0 1px;
                        border-radius: 5px;

                        &:hover {
                           background-color: #edeef0;
                        }

                        .section-action-icon {
                           font-size: 16px;
                           font-weight: bold;
                           cursor: pointer;
                           padding: 8px;
                        }
                     }
                  }
               }

               .section-box-content-wrap {
                  overflow: auto;
                  max-height: 84vh;
                  padding: 1px 2px 0 2px;

                  .flag_new_card {
                     margin-bottom: 10px;
                     .other-new-card {
                        background-color: white;
                        box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
                        rgb(27 31 35 / 15%) 0px 0px 0px 1px;
                        border-radius: 5px;
                     }
                  }

                  .animation_card_open {
                     animation-name: crap-open;
                     animation-duration: .4s;

                     &:hover {
                        cursor: auto;
                        border: 1px solid white;
                     }
                  }

                  @keyframes crap-open {
                     from {
                        height: 0;
                     }
                     to {
                        height: 50px;
                     }
                  }

                  .section-box-content {
                     .content_task {
                        background-color: white;
                        text-align: left;
                        border-radius: 5px;
                        border: 1px solid white;
                        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                        margin: 0 0 10px 0;

                        &:hover {
                           cursor: pointer;
                           border: 1px solid #606266b5;
                        }
                        .el-image {
                           width: 100%;
                           border-top-left-radius: 5px;
                           border-top-right-radius: 5px;
                           //height: 150px;
                        }
                     }
                  }
               }
            }
         }
      }
   }

   .el-dialog__wrapper::v-deep .el-dialog {
      border-radius: 10px;
   }

   .el-dialog__wrapper::v-deep .el-dialog .el-dialog__header {
      display: none;
   }
}

.task-info {
   padding: 15px 20px;

   .task-name {
      font-size: 14px;
   }

   .tag-list {
      width: 100%;
      margin-top: 10px;

      .tag-item {
         border-radius: 10px;
         padding: 2px 6px;
         font-size: 12px;
         margin: 0 5px 6px 0;
         display: inline-block;
         text-transform: capitalize;
         color: white;
         min-width: 17%;
      }
   }

   .task-other-info {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;

      .deadline {
         width: 50%;

         .deadline-picker {
            font-size: 13px;
         }

         .deadline-info {
            font-size: 12px;
            margin-left: 5px;
         }
      }

      .todo-attach {
         width: 50%;
         text-align: right;

         .todo-attach-item {
            font-size: 13px;

            &:first-child {
               margin-right: 15px;
            }

            .todo-attach-item-info {
               font-size: 12px;
               margin-left: 3px;
            }
         }


      }
   }
}

.other-new-work {
   padding-top: 22px;

   .add-new-list {
      width: 280px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      height: 30px;
      cursor: pointer;

      &:hover {
         color: #04befe;
      }

      .add-card-icon {
         margin-right: 3px;
         font-weight: bold;
      }
   }

   .box-scp {
      width: 270px;
   }
}

.inp-add-list {
   -webkit-appearance: none;
   background-color: #FFF;
   background-image: none;
   border-radius: 4px;
   border: 1px solid #DCDFE6;
   box-sizing: border-box;
   color: #606266;
   display: inline-block;
   height: 40px;
   line-height: 40px;
   outline: 0;
   padding: 0 15px;
   transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
   width: 100%;
   font-size: 14px;

   &:focus {
      border-color: #409EFF;
      outline: 0;
   }

   &::placeholder {
      color: #606266b5;
   }
}

.box-scp {
   position: relative;

   input {
      width: 100%;
      color: black;
      font-size: 14px;
      background-color: transparent;
      border: 2px solid transparent;
      border-bottom-color: hsla(185, 100%, 62%, 0.2);


      &:focus {
         outline: none;
      }

      &::placeholder {
         color: #606266b5;
      }

      &:focus ~ span {
         transform-origin: bottom left;
         transform: scaleX(1);
      }
   }

   .css-rename {
      font-weight: bold;
      padding: 0 5px 5px 0;

      &::placeholder {
         font-weight: normal;
      }
   }

   span {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #3cefff;
      transform-origin: bottom right;
      transform: scaleX(0);
      transition: transform 1s ease;
   }
}

.el-popper::v-deep.el-popover{
   padding: 0;
}

::-webkit-scrollbar {
   width: 5px;
   height: 10px;
}

::-webkit-scrollbar-thumb {
   background-color: gray;
   border-radius: 5px;
}