.workflow-wrap {
   overflow: auto;
   position: relative;
   height: 94vh;

   .list-group {
      margin-top: 20px;
      padding: 0;
      margin-left: 50px;

      .draggable-transition {
         display: flex;

         .list-group-item {
            .section {
               width: 280px;
               margin: 0 10px;

               .section-box-header {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin-bottom: 15px;

                  .section-title {
                     font-weight: bold;
                  }

                  .section-action {
                     display: flex;
                     align-items: center;
                     justify-content: space-between;

                     .section-action-box {
                        margin: 0 1px;
                        border-radius: 5px;

                        &:hover {
                           background-color: #edeef0;
                        }

                        .section-action-icon {
                           font-size: 16px;
                           font-weight: bold;
                           cursor: pointer;
                           padding: 8px;
                        }
                     }
                  }
               }

               .section-box-content {
                  overflow: auto;
                  max-height: 80vh;

                  .content-task {
                     background-color: white;
                     text-align: left;
                     border-radius: 5px;
                     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                     margin: 0 0 10px 0;

                     .el-image {
                        width: 100%;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        //height: 150px;
                     }

                     .task-info {
                        padding: 15px 20px;

                        .task-name {
                           font-size: 14px;
                        }

                        .tag-list {
                           width: 100%;
                           margin-top: 15px;

                           .tag-item {
                              border-radius: 10px;
                              padding: 2px 6px;
                              font-size: 12px;
                              margin: 0 5px 6px 0;
                              display: inline-block;
                              text-transform: capitalize
                           }
                        }

                        .task-other-info {
                           display: flex;
                           justify-content: space-between;
                           padding-top: 15px;

                           .deadline {
                              width: 50%;

                              .deadline-picker {
                                 font-size: 13px;
                              }

                              .deadline-info {
                                 font-size: 12px;
                                 margin-left: 5px;
                              }
                           }

                           .todo-attach {
                              width: 50%;
                              text-align: right;

                              .todo-attach-item {
                                 font-size: 13px;

                                 &:first-child {
                                    margin-right: 15px;
                                 }

                                 .todo-attach-item-info {
                                    font-size: 12px;
                                    margin-left: 3px;
                                 }
                              }


                           }
                        }
                     }
                  }
               }

               .add_card_other_1 {
                  .add_card {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     font-weight: bold;
                     border-radius: 5px;
                     font-size: 14px;
                     height: 36px;
                     cursor: pointer;

                     &:hover {
                        background-color: rgba(21, 7, 38, 0.04);
                     }

                     .add-card-icon {
                        margin-right: 3px;
                        font-weight: bold;
                     }
                  }
               }

               .add_card_other_2 {
                  border-radius: 5px;
                  align-items: start;
                  background-color: #f2f5f6;
                  height: 80vh;
                  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
               }

               .add-new-list {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: bold;
                  height: 30px;
                  cursor: pointer;

                  &:hover {
                     color: #04befe;
                  }

                  .add-card-icon {
                     margin-right: 3px;
                     font-weight: bold;
                  }
               }
            }
         }
      }
   }

   .add-to-list {
      position: fixed;
      //bottom: 20px;
      top: 6vh;
      //right: 15px;
      left: 10px;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;

      .stick {
         border: 1px solid black;
         height: 10px;
      }

      .ico-add-list {
         font-size: 16px;
         padding: 10px;
         border-radius: 50%;
         background-color: black;
         color: white;
         cursor: pointer;
      }

      .box-scp {
         position: relative;

         input {
            width: 90%;
            color: black;
            font-size: 14px;
            background-color: transparent;
            border: 2px solid transparent;
            border-bottom-color: hsla(185, 100%, 62%, 0.2);


            &:focus {
               outline: none;
            }

            &::placeholder {
               color: hsla(0, 0%, 100%, 0.6);
            }

            &:focus ~ span {
               transform-origin: bottom left;
               transform: scaleX(1);
            }
         }

         span {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #3cefff;
            transform-origin: bottom right;
            transform: scaleX(0);
            transition: transform 0.5s ease;
         }
      }
   }
}

.inp-add-list {
   -webkit-appearance: none;
   background-color: #FFF;
   background-image: none;
   border-radius: 4px;
   border: 1px solid #DCDFE6;
   box-sizing: border-box;
   color: #606266;
   display: inline-block;
   height: 40px;
   line-height: 40px;
   outline: 0;
   padding: 0 15px;
   transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
   width: 100%;
   font-size: 14px;

   &:focus {
      border-color: #409EFF;
      outline: 0;
   }

   &::placeholder {
      color: #606266b5;
   }
}

.el-popper::v-deep.el-popover{
   padding: 0;
}

::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}

::-webkit-scrollbar-thumb {
   background-color: gray;
   border-radius: 5px;
}